@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700|Roboto:400,700,900|Open+Sans:400,700&display=swap");

/*--- Reset ---*/
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  font-family: "Open Sans";
  font-size: 12px;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  /* font-family: "Roboto"; */
  font-family: "Open Sans";
  font-size: 12px;
  height: 100%;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #13161a;
  color: #8c8e90;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 0px;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar {
  /* display: none; */
}

ul,
ol,
li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: color 0.15s ease-out;
  /* color: #605f5d; */
  font-weight: normal;
  color: #dddddd;
}
a:hover {
  font-weight: bold;
  color: #605f5d;
  /* color: #e9e9e9; */
}

section {
  display: table;
  margin: 0;
  /* max-width: none; */
  background-color: #ffffff;
  /* background-color: #11151a; */
  width: 100vw;
  height: 100vh;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  line-height: 1;
  outline: none;
}

.round-input {
  border: 1px solid #2d3136;
  background-color: #14171b;
  color: #c3c2be;
  border-radius: 0.36rem;
  padding: 0.7rem;
  font-size: 0.9rem;
}

.flash-once {
  color: #e8e9e9;
  animation: flash-animation 0.5s normal forwards;
  -webkit-animation: flash-animation 0.5s normal forwards;
  -moz-animation: flash-animation 0.5s normal forwards;
  -o-animation: flash-animation 0.5s normal forwards;
}

@-webkit-keyframes flash-animation {
  from {
    background-color: #8c8e9025;
  }
  to {
    color: default;
  }
}

@keyframes flash-animation {
  from {
    background-color: #8c8e9025;
  }
  to {
    color: default;
  }
}
